  .right-ul a.active {
    background-color: grey;
  }
  section{
    background-color: black;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .performance-container{
    display: flex;
  }
  .performance-container img{
    flex: 1;
    width: 650px;
    height: auto;
  }
  #county-tooltip {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 4px;
    font-size: 14px;
    max-width: 200px;
    display: none;
  }

  .Data-Split-container{
  }
  .Data-Split-container img{
    width: 1200px;
  }

  #interactive p{
    font-size: 19px;
    text-align: left;
    max-width: 900px;
    color:black
  }

  .county-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  
  .tab-group {
    display: flex;
  }
  
  .tab-group > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  






  #INTRODUCTION p{
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    border-color: white;
    border-style: dashed;
    padding: 0;
    font-size: 26px;
    text-align: center;
  }

  p{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    line-height: 1.5;
    padding: 0;
    font-size: 23px;
  }


  h1{
    text-align: center;
    color: white;
    font-size: 40px;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
  }

  .right-ul {
    list-style-type: none;
    margin-right:20px;
    padding: 0;
    overflow: hidden;
  }


  nav li {
    display: inline-block;
  }

  nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif; 
  }

  section {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #section1 {
    background-color: #ff8080;
  }

  #section2 {
    background-color: #80b3ff;
  }

  #section3 {
    background-color: #80ff80;
  }

  #GOAL{
    height:1600px;
  }

  #RESULTS{
    height: 1200px;
  }

  #INTERPRETATION{
    height: 2400px;
  }



  #DATA{
    height: 900px;
  }


  #DATA p{
    padding: 0;
    text-align: center;
  }

  #interactive{
    display: flex; flex-direction: column; align-items: center;
    height: 3000px;
  }


  .tab-group button{
    width: 200px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #464c53;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Active Effect */
  .tab-group button.active {
    background-color: #cbd7e4;
    color: #464c53;
  }
  .tab-group button:hover {
    background-color: #cbd7e4;
    color: #464c53;
  }

  .state{
    fill:grey;
  }

  .county{
    fill:none;
    stroke: green;
    stroke-width: 0.5;
    pointer-events: all;
  }

  .county:hover{
    fill:red;
  }

  .county.active{
    fill:blue !important;;
  }

  #CountyName-input{
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    background-color: grey;
    width: 260px;
    height: 60px;
  }

#heatmap {
    width: 260px;
    height:60px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #464c53;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


  input::placeholder {
    opacity: 20%;
    color: white; /* Add your desired color here */
    text-align: center; /* Center-align the placeholder text */
  }
  
  
